body {
    background-color: blanchedalmond;
}

.slider {
    margin: 30px auto;
    max-width: 600px;
    height: 600px;
    outline: 1px solid rgb(252, 16, 16);
}

.slider__image {
    width: 100%;
    height: auto;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider > input {
 display: none;
}

.slider__shift {
    margin: 20px auto;
    width: 111px;
    height:  23px;
    /*outline: 1px solid rgb(252, 16, 16);*/
}

.slider__shift_area {
    display: inline-block;
    width: 22px;
    height: 23px;
    margin-left: -3px;
    /*outline: 1px solid rgb(252, 16, 16);*/
  }

  .slider__shift label {
    display: inline-block;
    margin: 0px 0px 0 0px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 8px solid blanchedalmond;
    background-color: #d3efff;
    cursor: pointer;
  }

  label:hover {
    background-color: #38b6ff;
  }

  #switch1:checked~.slider__shift label[for="switch1"] {
    background-color: rgb(0, 81, 255);
  }
  
  #switch2:checked~.slider__shift label[for="switch2"] {
    background-color: rgb(0, 81, 255);;
  }
  
  #switch3:checked~.slider__shift label[for="switch3"] {
    background-color: rgb(0, 81, 255);
  }

  #switch4:checked~.slider__shift label[for="switch4"] {
    background-color: rgb(0, 81, 255);
  }

  #switch5:checked~.slider__shift label[for="switch5"] {
    background-color: rgb(0, 81, 255);
  }
